/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    color: black;
}

/* Header */
.header {
    background-color: #d14789;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    width: 100%;
    height: 12em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.logo__img {
    max-height: 6.5rem;
    width: auto;
}

/* Navigation */
.nav,
.menu {
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav a,
.menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.nav a:hover,
.menu a:hover {
    background-color: rgb(213, 21, 136);
}

.accordion {
    background-color: rgb(213, 21, 136);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.6s;
    margin: 0.5rem 0;
}

.center {
    text-align: center;
}

.active,
.accordion:hover {
    background-color: rgb(246, 4, 149);
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.hidden-checkbox:checked~.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #d14789;
}

/* Barbie's creator */
.ruth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.ruth img {
    margin-right: 20px;
}

.creator h2,
#timeline,
#impact {
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 2em;
    background-color: #d14789;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.ruth h3 {
    background-color: #F5F5F5;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

.ruth p,
#impact-text p {
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 10px 0;
}

/* Welcome */
#welcome {
    background-color: #f49fc8;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(227, 59, 179);
}

.doll h1 {
    font-size: 2.5em;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

/* Timeline */

.timeline-header {
    background-color: #F5F5F5;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.accordion {
    font-size: 15px;
    text-align: center;
}


#timeline-event {
    list-style: none;
    padding-left: 30px;
    border-left: 8px solid #f27bb4;
    color: #120109;
    background: white;
}

#timeline-event li {
    margin: 40px 0;
    position: relative;
}

.accordion {
    border-radius: 40%;
}

.panel p {
    font-family: "Roboto", sans-serif;;
}

.date,
.circle,
.content label {
    position: absolute;
}

.date {
    top: 50%;
    left: -158px;
    font-size: 2em;
    color: black;
}

.circle {
    top: 50%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: black;
    border: 5px solid #d14789;
}

.content {
    padding: 50px 20px 0;
}

.content:before, .content:after {
    content: "";
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}

.content:after {
    border-right-color: lightgray;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}

.radio {
    display: none;
}

.radio:checked~.relative label {
    cursor: auto;
    transform: translateX(42px);
}

.radio:checked~.content {
    border-color: palevioletred;
    transform: translateX(20px);
}

.radio:checked~.content p {
    color: black;
}

/* Slideshow */
.slideshow {
    padding: 2rem;
}

.slideshow-content {
    position: relative;
    max-width: 25em;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    scrollbar-width: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
}


.slider-nav a {
    text-decoration: none; 
    text-align: center;
    color: white; 
    font-weight: bold; 
}

.slideshow-text {
    text-align: center;
}

.slideshow-text span {
    color: #d14789;
    font-weight: bold;
}

.slideshow-text em {
    color: purple;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #d14789;
    width: 100%;
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

#social-networks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#social-networks li {
    margin: 0 10px;
}

#social-networks a {
    color: white;
}

#social-networks a:hover {
    color: rgb(213, 21, 136);
}

.fa-brands {
    font-size: 1.5em;
}

/* Responsive design media queries */
/* Styles for phones (767px and below) */
@media screen and (max-width: 767px) {

    #welcome {
        background-size: cover;
        height: 30vh;
        width: 100%;
        justify-content: center;
    }
    
    .doll h1 {
        font-size: 2em;
    }
    

    .menu {
        flex-direction: column;
    }

    /* Barbie creator */
    .ruth {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Timeline */
    #timeline-event {
        padding-left: 0;
        border-left: none;
    }

    .date {
        left: auto;
        right: 10px;
    }

    .circle {
        left: auto;
        right: -15px;
    }

    .content {
        padding: 20px 10px;
    }

    .content:before,
    .content:after {
        bottom: 100%;
    }

    .content:before {
        border-bottom-color: inherit;
        top: -16px;
        left: 50px;
        margin-left: -17px;
    }

    .content:after {
        border-bottom-color: lightgray;
        top: -20px;
        left: 50px;
        margin-left: -20px;
    }

    /* Footer */
    .footer-content {
        flex-direction: column;
    }

    #social-networks {
        justify-content: center;
    }
}

/* Styles for tablets (800px and below) */
@media screen and (max-width: 800px) {

    /* Timeline */
    #timeline-event {
        margin-left: 35%;
    }

    /* Footer */
    .footer-content {
        flex-direction: column;
    }

    #social-networks {
        justify-content: center;
    }
}

/* Styles for large screens (801px and above) */
@media screen and (min-width: 801px) {

    /* Welcome */

    #welcome {
        background-size: contain;
        background-repeat: repeat;
        background-position: left;
        display: flex;
        justify-content: center;
    }
    .doll h1 {
        font-size: 3.5em;
    }


}