/*Google font imported texts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    color: black;
}

/* Header */
.header {
    background-color: #d14789;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    width: 100%;
    height: 12em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}


.logo__img {
    max-height: 6.5rem;
    width: auto;
}


/* Barbie's creator */

.ruth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin-left: 10%;
}

.ruth img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.creator h2 {
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 2em;
    background-color: #d14789;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.ruth h3 {
    background-color: #F5F5F5;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.ruth p {
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Welcome */
#welcome {
    background-image: url('../images/barbie-welcome-pic-2-2.png');
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doll h1 {
    font-size: 2.5em;
    font-weight: 400;
    font-family: "Chewy", system-ui;
}

/* History section */


#timeline {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 2em;
    background-color: #d14789;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.timeline-header {
    background-color: #F5F5F5;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    width: 45%;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 30%;
    padding: 15px;
}

/* Timeline */
#timeline-event {
    list-style: none;
    padding-left: 30px;
    border-left: 8px solid #d14789;
    margin-left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    flex-direction: column;
    color: #120109;
    background: white;
}

#timeline-event li {
    margin: 40px 0;
    position: relative;
}

#timeline p {
    margin: 0 0 15px;
}

.date {
    margin-top: -10px;
    top: 50%;
    left: -158px;
    font-size: 2em;
    line-height: 20px;
    position: absolute;
    color: black;
}

.circle {
    margin-top: -10px;
    top: 50%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: black;
    border: 5px solid #d14789;

    display: block;
    position: absolute;
}

.content {
    padding: 50px 20px 0;
    border-color: transparent;

    border-style: solid;

    position: relative;
    overflow: auto;
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}

.content:before,
.content:after {
    content: "";

    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}

.content:before {
    border-right-color: inherit;

}

.content:after {
    border-right-color: lightgray;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}

.content p {
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;

}

label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    transition: transform 0.2s linear;
}

.radio {
    display: block;
}

.radio:checked+.relative label {
    cursor: auto;
    transform: translateX(42px);
}

.radio:checked+.relative .circle {
    background: lightgrey;
}

.radio:checked~.content {

    border-color: palevioletred;
    margin-right: 20px;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
    overflow: visible;
}

.radio:checked~.content p {

    color: black;
    overflow: visible;
}

/* Impact */

#impact {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 2em;
    background-color: #d14789;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.slideshow {
    padding: 2rem;
}

.slideshow-content {
    position: relative;
    max-width: 38rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    scrollbar-width: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}


.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #d14789;
    color: transparent;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

/* Slideshow text */

#impact-text p {
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: slideIn 1.5s ease-in-out;
}

#impact-text p span {
    color: hsl(277, 100%, 49%);
    font-weight: bold;
}

#impact-text p em {
    color: #db0e90;
    font-style: italic;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Footer */

footer {
    background-color: #d14789;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
}

.footer-content {
    display: flex;
    color: #f0f0f0;
    align-items: center;
    gap: 20px;
}

#social-networks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#social-networks li {
    margin: 0 10px;
}

#social-networks a {
    color: white;
    text-decoration: none;
}

#social-networks a:hover {
    color: rgb(213, 21, 136);
}

.fa-brands {
    font-size: 1.5em;
}


/* Responsive design media queries */



/* Styles for phones (767px and below) */

@media screen and (max-width: 767px) {

/* Welcome */

#welcome {
    width: 700px;
}

    
/* Nav bar and hamburger icon */

    .hamburger {
        display: block;
    }

    .nav {
        display: none;
    }


    /* Barbie creator */

    .ruth {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .ruth img {
        height: auto;
    }

    .creator h2 {
        font-size: 1.5em;
        width: 100vw;
    }

    .ruth h3 {
        padding: 15px;
        font-size: 15px;
    }

    .ruth p {
        font-size: 18px;
        line-height: 1.6;
    }

    /*timeline */

    #timeline {
        font-size: 1.5em;
        text-align: left;
    }

    .timeline-header {
        width: 45%;
        font-size: 15px;
        text-transform: capitalize;
        padding: 15px;
    }


    #timeline-event {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }

    #timeline-event li {
        padding: 50px 0;
    }

    label {
        font-size: 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        transform: translateX(18px);
    }

    #timeline-event .content p {
        margin-top: 10px;
    }

    .content {
        padding: 20px 10px;
        border-color: transparent;
    }

    .content:before,
    .content:after {
        border: solid transparent;
        bottom: 100%;
    }

    .content:before {
        border-bottom-color: inherit;
        border-width: 17px;
        top: -16px;
        left: 50px;
        margin-left: -17px;
    }

    .content:after {
        border-bottom-color: lightgray;
        border-width: 20px;
        top: -20px;
        left: 50px;
        margin-left: -20px;
    }

    .content p {
        font-size: 0.9em;
        line-height: 1.4;
        padding-top: 0;
    }

    .date {
        margin-left: 55%;
        transform: translateY(20px);
        position: relative;
        font-size: 25px;
    }

    #timeline .timeline-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* footer */

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #social-networks {
        justify-content: center;
    }

}


/* Styles for tablets (800px and below) */

@media screen and (max-width: 800px) {

    #welcome {
        height: 50vh;
    }


/* Nav bar and hamburger icon */

    .hamburger {
        display: block;
    }

    .nav {
        display: none;
    }

    /* history */

    #timeline {
        font-size: 2em;
        padding: 20px;
        width: 100%;
    }


    #timeline-event {
        margin-left: 0;
        padding-left: 30px;
        border-left: 8px solid #ff69b4;
        margin-left: 35%;
    }


    label {
        font-size: 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        transform: translateX(18px);
    }

    #timeline-event .content p {
        margin-top: 10px;
    }

    .content {
        padding: 20px 10px;
        border-color: transparent;
    }

    .content p {
        font-size: 0.9em;
        line-height: 1.4;
        padding-top: 0;
    }

    .date {
        margin-top: -10px;
        top: 50%;
        left: -150px;
        font-size: 2em;
        line-height: 20px;
        position: absolute;
        color: black;
    }

    /* footer */

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #social-networks {
        justify-content: center;
    }
}


    /* Styles for large screens (801px and above) */
    @media screen and (min-width: 801px) {

        #welcome {
            height: 80vh;
            width: 100vw;
            background-size: 100% 80%;
        }

        .doll h1 {
            font-size: 3.5em;
        }

        /* Nav bar and hamburger icon */

        .hamburger {
            display: none !important;
        }

        .hidden-checkbox {
            display: none !important;
        }

        .menu {
            display: none !important;
        }

        .nav {
            display: block;
        }
}